/* optional */
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@600&display=swap');
html{
    height: 100%;
}

.preview-container{
    border: 2px solid rgba(255, 255, 255, 0.239);
    position: absolute;
    top: 20px;
    right: 0;
    width: 263px;
    min-height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.preview-cover{
    overflow: hidden;
}
.preview-container span{
    position: absolute;
    top: 66px;
    left: 70px;
}

/* action button */
.action-button{
    display: inline-block;
    position: absolute;
    bottom: 0px;
    border-right: 1px solid rgba(255, 255, 255, 0.239);
}
.action-button .upload,
.action-button .download{
    display: block;
    width: 170px;
    height: 35px;
    margin: 10px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: rgba(255, 255, 255, 0.129);
    color: white;
    border-radius: 3px;
    outline: none;
    transition-duration: .2s;
    font-family: 'Maven Pro', sans-serif;
    cursor: pointer;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border: 1px solid rgba(255, 255, 255, 0.2);
}
.action-button .upload:active,
.action-button .download:active{
    border: 1px solid rgba(255, 255, 255, 0.4);
}
