<<<<<<< HEAD
.navbar-brand {
    font-size: 50px;
    padding: 10px;
}


main {
    margin-top: 100px;
    min-height: 52vh;
}

.info {
    width: 70vw;
}

.modal-dialog{
    min-width: 75vw;
}

img #image {
    display: block;
    width: 100%;
}

.modal img{
    max-width: 100%;
    max-width: 100%;
    display: block;
}

.preview-container {
    border: 5px solid blue;
    width: 263px;
    min-height: 150px;
    align-items: center;
    justify-content: center;
    position:absolute;
    right: 50px;
    display: flex;
}

.preview-cover{
    overflow: hidden;
}

.res-img{
    max-width: 50vw;
}

.cropped-image{
    max-width: 50vw;
    margin: 10%;
}
=======
.navbar-brand {
    font-size: 50px;
    padding: 10px;
}


main {
    margin-top: 100px;
    min-height: 52vh;
}

.info {
    width: 70vw;
}

.modal-dialog{
    min-width: 75vw;
}

img #image {
    display: block;
    width: 100%;
}

.modal img{
    max-width: 100%;
    max-width: 100%;
    display: block;
}

.preview-container {
    border: 5px solid blue;
    width: 263px;
    min-height: 150px;
    align-items: center;
    justify-content: center;
    position:absolute;
    right: 50px;
    display: flex;
}

.preview-cover{
    overflow: hidden;
}

.res-img{
    max-width: 50vw;
}

.cropped-image{
    max-width: 50vw;
    margin: 10%;
}
>>>>>>> 980a0eea797939db785415859ede40acbc451f7c
